@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-Light.eot");
  src: url("../fonts/Cormorant-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Cormorant-Light.woff2") format("woff2"), url("../fonts/Cormorant-Light.woff") format("woff"), url("../fonts/Cormorant-Light.ttf") format("truetype"), url("../fonts/Cormorant-Light.svg#Cormorant-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-LightItalic.eot");
  src: url("../fonts/Cormorant-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cormorant-LightItalic.woff2") format("woff2"), url("../fonts/Cormorant-LightItalic.woff") format("woff"), url("../fonts/Cormorant-LightItalic.ttf") format("truetype"), url("../fonts/Cormorant-LightItalic.svg#Cormorant-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-Italic.eot");
  src: url("../fonts/Cormorant-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cormorant-Italic.woff2") format("woff2"), url("../fonts/Cormorant-Italic.woff") format("woff"), url("../fonts/Cormorant-Italic.ttf") format("truetype"), url("../fonts/Cormorant-Italic.svg#Cormorant-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg#Lato-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Thin.eot");
  src: url("../fonts/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Thin.woff2") format("woff2"), url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.ttf") format("truetype"), url("../fonts/Lato-Thin.svg#Lato-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary-color: #fff;
  --bg-color: #000;
  --font-color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Non-Standard, But More Styling-Capable Properties */
  /* Standardized Properties */
}
*::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  background: transparent;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 3px;
}
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--primary-color) var(--bg-color);
    scrollbar-width: thin;
  }
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Non-Standard, But More Styling-Capable Properties */
  /* Standardized Properties */
}
*::before::-webkit-scrollbar, *::after::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  background: transparent;
  border-radius: 3px;
}
*::before::-webkit-scrollbar-thumb, *::after::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 3px;
}
@supports not selector(::-webkit-scrollbar) {
  *::before, *::after {
    scrollbar-color: var(--primary-color) var(--bg-color);
    scrollbar-width: thin;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body {
  color: var(--font-color, #fff);
  line-height: 1;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background: var(--bg-color, #fff);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-variant-numeric: lining-nums proportional-nums;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  width: 100%;
  max-width: 1688px;
  padding-left: 24px;
  padding-right: 24px;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

body {
  background-image: url("../img/blocks/body_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767.98px) {
  body {
    background-image: url("../img/blocks/body_bg-mob.jpg");
  }
}

section {
  position: relative;
}

.section-header {
  max-width: 837px;
}
.section-header h6 {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #f1f1f1;
  margin-bottom: 25px;
}
@media (max-width: 1920px) {
  .section-header h6 {
    font-size: calc(16px + 4 * (100vw - 320px) / 1600);
    margin-bottom: calc(16px + 9 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 991.98px) {
  .section-header h6 {
    line-height: 125%;
  }
}
.section-header h2 {
  font-weight: 100;
  font-size: 64px;
  line-height: 109%;
  letter-spacing: -0.02em;
}
@media (max-width: 1920px) {
  .section-header h2 {
    font-size: calc(40px + 24 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 991.98px) {
  .section-header h2 {
    line-height: 120%;
  }
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-initialized {
  overflow: hidden;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-prev:active, .swiper-button-prev:focus,
.swiper-button-next:active,
.swiper-button-next:focus {
  outline: none !important;
}
.swiper-button-prev::-moz-focus-inner,
.swiper-button-next::-moz-focus-inner {
  border: 0 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0px;
}

.swiper-pagination-bullet:active, .swiper-pagination-bullet:focus {
  outline: none !important;
}
.swiper-pagination-bullet::-moz-focus-inner {
  border: 0 !important;
}

.swiper-button-lock,
.swiper-pagination-lock {
  display: none !important;
}

.swiper-button-disabled {
  background-color: #f0f2f4;
}
.swiper-button-disabled svg path {
  stroke: black;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: 0%;
  width: 56px;
  height: 56px;
  margin-top: 0px;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1439.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 991.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: 19px;
  height: 15px;
}
@media (max-width: 1439.98px) {
  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: 16px;
    height: 14px;
  }
}
@media (max-width: 991.98px) {
  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: 13px;
    height: 11px;
  }
}
.swiper-button-next svg path,
.swiper-button-prev svg path {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0px;
  right: auto;
  background-color: transparent;
  border: 1px solid #000;
}
._white-nav .swiper-button-prev,
._white-nav .swiper-rtl .swiper-button-next {
  border-color: #fff;
}
.swiper-button-prev svg path,
.swiper-rtl .swiper-button-next svg path {
  stroke: #000;
}
._white-nav .swiper-button-prev svg path,
._white-nav .swiper-rtl .swiper-button-next svg path {
  stroke: #fff;
}
@media (any-hover: hover) {
  .swiper-button-prev:hover svg path:first-child,
  .swiper-rtl .swiper-button-next:hover svg path:first-child {
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  .swiper-button-prev:hover svg path:last-child,
  .swiper-rtl .swiper-button-next:hover svg path:last-child {
    -webkit-transform: translateX(6px);
        -ms-transform: translateX(6px);
            transform: translateX(6px);
  }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0px;
  left: auto;
  background-color: #248af2;
  border-color: #248af2;
}
._white-nav .swiper-button-next,
._white-nav .swiper-rtl .swiper-button-prev {
  background-color: #fff;
  border-color: #fff;
}
.swiper-button-next svg path,
.swiper-rtl .swiper-button-prev svg path {
  stroke: #fff;
}
._white-nav .swiper-button-next svg path,
._white-nav .swiper-rtl .swiper-button-prev svg path {
  stroke: #000;
}
@media (any-hover: hover) {
  .swiper-button-next:hover svg path:first-child,
  .swiper-rtl .swiper-button-prev:hover svg path:first-child {
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
  }
  .swiper-button-next:hover svg path:last-child,
  .swiper-rtl .swiper-button-prev:hover svg path:last-child {
    -webkit-transform: translateX(-6px);
        -ms-transform: translateX(-6px);
            transform: translateX(-6px);
  }
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
}

.swiper-pagination-progressbar {
  background: #ffffff;
  position: relative;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #248af2;
  position: absolute;
  bottom: auto;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.swiper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swiper-navigation .swiper-button-prev:not(:last-child),
.swiper-navigation .swiper-button-next:not(:last-child) {
  margin-right: 12px;
}
@media (max-width: 991.98px) {
  .swiper-navigation .swiper-button-prev:not(:last-child),
  .swiper-navigation .swiper-button-next:not(:last-child) {
    margin-right: 8px;
  }
}

.swiper-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-action .swiper-pagination {
  margin-left: 35px;
}