body {
	background-image: url("../img/blocks/body_bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 767.98px) {
		background-image: url("../img/blocks/body_bg-mob.jpg");
	}
}

section {
	position: relative;
}

// Text ========================================================================================================================================================

// Button ========================================================================================================================================================

// Block  ========================================================================================================================================================
.section-header {
	max-width: 837px;

	h6 {
		font-family: "Cormorant", sans-serif;
		font-weight: 300;
		font-size: 20px;
		line-height: 100%;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #f1f1f1;
		margin-bottom: 25px;

		@media (max-width: 1920px) {
			font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
			margin-bottom: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
		}

		@media (max-width: 991.98px) {
			line-height: 125%;
		}
	}

	h2 {
		font-weight: 100;
		font-size: 64px;
		line-height: 109%;
		letter-spacing: -0.02em;

		@media (max-width: 1920px) {
			font-size: calc(40px + (64 - 40) * ((100vw - 320px) / (1920 - 320)));
		}

		@media (max-width: 991.98px) {
			line-height: 120%;
		}
	}
}
